[submodule "sskeychain"]
	path = sskeychain
	url = https://github.com/samsoffes/sskeychain.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "PutioKit"]
	path = PutioKit
	url = git@github.com:PutioKit/PutioKit.git
